.home {
    width: 100%;
    align-items: center;
    color: #2d2826;
    padding-top: 100px;
}

.bioContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2d2826;
}

.bioLinks {
    color: #f5f6ed;
    display: grid;
    width: 10%;
    justify-content: center;
    row-gap: 20px;
}

.bioLinks a {
    color: #f5f6ed;
}

.bioLinks svg {
    width: 80%;
    height: 80%;
}

.profilePhoto {
    width: 30%;
    padding-bottom: 30%; 
    position: relative;
}
  
.profilePhoto img {
    position: absolute;
    top: 18px;
    left: 0;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15%;
    overflow: hidden;
}

.about {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: #2d2826;
    color: #f5f6ed;
}

.about h2 {
    font-size: 60px;
    color: #c75b5c;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.prompt {
    font-size: 30px;
    text-align: left;
    margin-right: 5vmin;
}

.skills {
    font-size: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #c75b5c;
}

  
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.item h2 {
    margin-bottom: 0px;
    font-size: 40px;
}
  
.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
  
.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}
  
.icon-text h5 {
    margin-bottom: 5px;
}

.icon-text svg {
    height: 30px;
    width: 50px;
}

@media screen and (min-width: 768px) {
    .bioLinks svg{
      width: 70%;
    }
    .about {
      width: 67%;
    }

    .profilePhoto img {
        position: absolute;
        top : 18%;
        left: 30px;
        width: 60%;
        height: 60%;
    }

  }


@media only screen and (max-width: 768px) {
    
    .bioLinks {
        margin-top: 20px;
    }

    .about h2 {
        font-size: 50px;
    }

    .prompt {
        font-size: 25px;
    }
}


@media only screen and (max-width: 600px) {
    .bioContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .bioLinks {
    margin-top: 20px;
      width: 50%;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 2%;
      order: 3;
    }
  
    .profilePhoto {
      width: 50%;
      padding-bottom: 50%;
      left: 2%;
      order: 1;
    }

    .about {
        width: 100%;
        height: auto;
        text-align: center;
        order: 4;
      }
  
    .about .prompt {
        font-size: 20px;
        text-align: center;
        margin-left: 14px;
    }

    .about h2 {
      font-size: 40px;
      height: auto;
    }

    .skills {
        margin-bottom: 10px;
    }

}
